<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="panel">
  <% if user_signed_in? %>
    Jesteś zalogowany jako: <%= current_user.email %> -
    <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Zaloguj", new_user_session_path %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
